[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
flake8-black = "*"
requests-mock = "*"

[requires]
python_version = "3.9"

[scripts]
app = "python3 -m notifier"
