[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
requests = "*"
fastapi = "*"
uvicorn = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
flake8-black = "*"
requests-mock = "*"
pytest-cov = "*"

[requires]
python_version = "3.9"

[scripts]
app = "python3 -m appointment_mail_notifier"
tests-coverage = "pytest --cov-report term-missing --cov=appointment_mail_notifier tests/"
