[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
flake8-black = "*"

[requires]
python_version = "3.9"
